<body>

  <body>
    <section class="menu container mx-auto py-8">
      <div class="flex justify-center flex-col">
        <h1 class="text-center font-bold text-xl uppercase">About Us</h1>
        <div>


          <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
              <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-1/4 h-24 object-cover object-center rounded"
                  src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660177831/capstone%20project/KHANH-WITH-BOXED-PIZZA-2_bsdkdr.jpg">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6">

                  <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">About Pizza Point</h1>

                  <p class="leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloribus
                    suscipit quas error alias, odit quis voluptates perspiciatis laboriosam ratione!</p>
                </div>
              </div>
            </div>
          </section>









          <div>
            <div class="bg-white py-6 sm:py-8 lg:py-12">
              <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
                <!-- text - start -->
                <div class="mb-10 md:mb-16">
                  <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Our competitive
                    advantages</h2>

                  <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ullam, fugit.</p>
                </div>
                <!-- text - end -->

                <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-8">
                  <!-- feature - start -->
                  <div class="flex bg-gray-50 border rounded-lg divide-x">
                    <div class="flex items-center primary-color-1 p-2 md:p-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>

                    <div class="p-4 md:p-6">
                      <h3 class="text-lg md:text-xl font-semibold mb-2">Located in City Center</h3>
                      <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, non.
                      </p>
                    </div>
                  </div>
                  <!-- feature - end -->

                  <!-- feature - start -->
                  <div class="flex bg-gray-50 border rounded-lg divide-x">
                    <div class="flex items-center primary-color-1 p-2 md:p-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>

                    <div class="p-4 md:p-6">
                      <h3 class="text-lg md:text-xl font-semibold mb-2">Highest Standard Service</h3>
                      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, iusto.
                      </p>
                    </div>
                  </div>
                  <!-- feature - end -->

                  <!-- feature - start -->
                  <div class="flex bg-gray-50 border rounded-lg divide-x">
                    <div class="flex items-center primary-color-1 p-2 md:p-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>

                    <div class="p-4 md:p-6">
                      <h3 class="text-lg md:text-xl font-semibold mb-2">45 minutes Guranteed Delivery</h3>
                      <p class="text-gray-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam,
                        eligendi.</p>
                    </div>
                  </div>
                  <!-- feature - end -->

                  <!-- feature - start -->
                  <div class="flex bg-gray-50 border rounded-lg divide-x">
                    <div class="flex items-center primary-color-1 p-2 md:p-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>

                    <div class="p-4 md:p-6">
                      <h3 class="text-lg md:text-xl font-semibold mb-2">Experienced Staff</h3>
                      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, nostrum.
                      </p>
                    </div>
                  </div>
                  <!-- feature - end -->

                  <!-- feature - start -->
                  <div class="flex bg-gray-50 border rounded-lg divide-x">
                    <div class="flex items-center primary-color-1 p-2 md:p-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>

                    <div class="p-4 md:p-6">
                      <h3 class="text-lg md:text-xl font-semibold mb-2">Our Own Homemade Ingridients</h3>
                      <p class="text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
                        eligendi.</p>
                    </div>
                  </div>
                  <!-- feature - end -->


                </div>
              </div>
            </div>
          </div>







          <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
            <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
              <div class="flex flex-col justify-center">
                <div class="max-w-xl mb-6">
                  <h2
                    class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
                    Promo Video
                  </h2>
                  <p class="text-base text-gray-700 md:text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eveniet.
                  </p>
                </div>
              </div>
              <div>
                <div class="relative h-0 overflow-hidden max-w-full w-full" style="padding-bottom: 56.25%">
       
                  <iframe src="https://www.youtube.com/embed/F3zw1Gvn4Mk" frameborder="0" allowfullscreen
                    class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>
              </div>
            </div>
          </div>








        </div>
      </div>

      </div>
    </section>
  </body>

</body>