<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">Update Details</h2>

        <form class="max-w-lg border rounded-lg mx-auto" method="POST" action="/accdetails">
            <div class="flex flex-col gap-4 p-4 md:p-8">

                <div>
                    <label for="email" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Email</label>
                    <input name="email" value="<%= accdetails.email; %>" disabled
                        class="w-full bg-gray-200 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
                </div>



                <div>
                    <label for="username" class="inline-block text-gray-800 text-sm sm:text-base mb-2">User Name</label>
                    <input name="username" value="<%= accdetails.name; %>"
                        class="w-full  text-gray-800 border focus:ring ring-orange-300 rounded outline-none transition duration-100 px-3 py-2" />
                </div>

                

                <div>
                    <label for="cpassword" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Current Password</label>
                    <input name="cpassword"
                        class="w-full  text-gray-800 border focus:ring ring-orange-300 rounded outline-none transition duration-100 px-3 py-2" />
                </div>


                <div>
                    <label for="upassword" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Updated Password</label>
                    <input name="upassword"
                        class="w-full  text-gray-800 border focus:ring ring-orange-300 rounded outline-none transition duration-100 px-3 py-2" />
                </div>

                <button
                    class="block bg-orange-400 hover:bg-orange-500 active:bg-orange-500 focus-visible:ring ring-orange-200 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Update
                    Details</button>

            </div>


        </form>
    </div>
</div>