<section class="light-section">
    <div class="container mx-auto p-10">
        <h1 class="mb-4 font-bold text-lg">admin Orders</h1>


        <table class="w-full table-auto bg-white mt-2">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">Orders</th>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">User Name</th>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">Address</th>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">Order Status</th>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">Order Time</th>
                    <th class="px-4 py-2 text-left border-b-2 border-gray-400 bg-gray-200 uppercase">Payment Mode</th>
                </tr>
            </thead>
            <tbody id="admin-order-tbody">
               

            </tbody>
        </table>



    </div>

</section>