<body>
  <!-- banner -->

  <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">


      <section class="flex flex-col lg:flex-row justify-between gap-6 sm:gap-10 md:gap-16">
        <!-- content - start -->
        <div class="xl:w-5/12 flex flex-col justify-center sm:text-center lg:text-left lg:py-12 xl:py-24">


          <h1 class="text-black-800 text-4xl sm:text-5xl md:text-6xl font-bold mb-8 md:mb-12">Food With <span
              class="banner-text-color">Integrity</span></h1>

          <p class="lg:w-4/5 text-gray-500 xl:text-lg leading-relaxed mb-4 md:mb-4">Hungry?</p>

          <div class="flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-2.5">
            <!-- <a href="#" class="inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Start now</a> -->
            <a href="/products" class="btn uppercase my-btn-1 ">Order now</a>

          </div>
        </div>
        <!-- content - end -->

        <!-- image - start -->
        <div class="xl:w-5/12 h-48 lg:h-auto  overflow-hidden  rounded-lg">
          <!-- <img src="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?auto=format&q=75&fit=crop&w=1000" loading="lazy" alt="Photo by Fakurian Design" class="w-full h-full object-cover object-center" /> -->
          <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_ewzbzcaw.json" background="transparent"
            speed="1" loop autoplay>
          </lottie-player>
        </div>
        <!-- image - end -->
      </section>
    </div>
  </div>


  
  <!-- splash color top -->
  <div>
    <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660087732/capstone%20project/color_splash/orange/color-splash-top_eyiuhq.png" alt="color-splash">
  </div>
  <!-- quality sections -->




  <section class="quality">


    <section class="text-gray-600 body-font">
      <div class="container p-24 mx-auto">

        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
          
          
          
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <img class="bg-contain bg-center bg-no-repeat mb-8 p-4 lg:h-48 md:h-36 rounded-xl "
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659531123/capstone%20project/features/restaurant_ndrjpx.png"
            alt="blog">
            <div class="flex-grow">
              <h2 class="text-gray-900 text-2xl title-font font-bold mb-3 uppercase">order food</h2>
              <p class="leading-relaxed text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, neque sit ipsa in fugiat eveniet!</p>
            </div>
          </div>


          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <img class="bg-contain bg-center bg-no-repeat mb-8 p-4 lg:h-48 md:h-36 rounded-xl"
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659531169/capstone%20project/features/delivery_1_mxyadx.png"
            alt="blog">
            <div class="flex-grow">
              <h2 class="text-gray-900 text-2xl title-font font-bold mb-3 uppercase">Delivery</h2>
              <p class="leading-relaxed text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, neque sit ipsa in fugiat eveniet!</p>
            </div>
          </div>



          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <img class="bg-contain bg-center bg-no-repeat mb-8 p-4 lg:h-48 md:h-36 rounded-xl"
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659531204/capstone%20project/features/pizza-slice_e8iu5q.png"
            alt="blog">
            <div class="flex-grow">
              <h2 class="text-gray-900 text-2xl title-font font-bold mb-3 uppercase">Authentic food</h2>
              <p class="leading-relaxed text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, neque sit ipsa in fugiat eveniet!</p>
            </div>
          </div>
          
      

        </div>

      </div>
    </section>


  </section>




  <!-- splash color bottom -->
  <div>
    <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660087732/capstone%20project/color_splash/orange/color-splash-bottom_kqci1p.png" alt="color-splash">
  </div>

  <section class="speciality">





    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2
          class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
          Fresh From Menu</h2>
        <p class="text-base text-gray-900 md:text-lg">
          Our Speciality
        </p>
      </div>
      <div class="grid gap-8 row-gap-8 lg:grid-cols-3">


        <div class="sm:text-center">
          <img
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659532097/capstone%20project/fresh%20from%20menu/pexels-vincent-rivaud-2471171_1_gqrtp1.jpg"
            class="rounded-full" alt="">
          <h1 class="m-4 font-semibold">The good cheese</h1>
        </div>


        <div class="sm:text-center">
          <img
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659532132/capstone%20project/fresh%20from%20menu/pexels-pixabay-162744_l0f0qv.jpg"
            class="rounded-full" alt="">
          <h1 class="m-4 font-semibold">The good cheese</h1>
        </div>


        <div class="sm:text-center">
          <img
            src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1659532147/capstone%20project/fresh%20from%20menu/pexels-engin-akyurt-1435903_fxqbaq.jpg"
            class="rounded-full" alt="">
          <h1 class="m-4 font-semibold">The good cheese</h1>
        </div>



      </div>
    </div>




  </section>



  <!-- splash top black -->
  <div class="bg-black">
    <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660087721/capstone%20project/color_splash/black/splash-top-black_z0kj35.png" alt="">
  </div>


  <!-- our team -->
  <div class="bg-black">
    <section class="team container mx-auto">
      <h1 class="text-center text-white text-3xl pt-3 mb-4">Meet Our Team</h1>



      <div class="container mx-auto">



        <div class="owl-carousel p-4">







          <div>
            <a href="#" class="group h-96 block bg-gray-100 rounded-lg overflow-hidden shadow-lg mb-2 lg:mb-3">
              <img
                src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165238/capstone%20project/chef/febrian-zakaria-SiQgni-cqFg-unsplash_sveg4y.jpg"
                alt="Photo by Austin Wade"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition duration-200" />
            </a>

            <div class="flex flex-col">
              <span class="text-white uppercase font-bold">Sous Chef</span>
            </div>
          </div>




          <div>
            <a href="#" class="group h-96 block bg-gray-100 rounded-lg overflow-hidden shadow-lg mb-2 lg:mb-3">
              <img
                src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165291/capstone%20project/chef/petr-sevcovic-HzDF-rxlSeM-unsplash_kwxo2f.jpg"
                alt="Photo by Austin Wade"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition duration-200" />
            </a>

            <div class="flex flex-col">
              <span class="text-white uppercase font-bold">Kitchen Assistant</span>
            </div>
          </div>





          <div>
            <a href="#" class="group h-96 block bg-gray-100 rounded-lg overflow-hidden shadow-lg mb-2 lg:mb-3">
              <img
                src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165320/capstone%20project/chef/rc-cf-FMh5o5m5N9E-unsplash_scjuoa.jpg"
                alt="Photo by Austin Wade"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition duration-200" />
            </a>

            <div class="flex flex-col">
              <span class="text-white uppercase font-bold">Supervisor</span>
            </div>
          </div>






          <div>
            <a href="#" class="group h-96 block bg-gray-100 rounded-lg overflow-hidden shadow-lg mb-2 lg:mb-3">
              <img
                src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165377/capstone%20project/chef/vince-fleming-7qileFwJEWo-unsplash_hzxhps.jpg"
                alt="Photo by Austin Wade"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition duration-200" />
            </a>

            <div class="flex flex-col">
              <span class="text-white uppercase font-bold">Kitchen Assistant</span>
            </div>
          </div>



        </div>


      </div>

    </section>
  </div>



  <!-- splash bottom black -->
  <div class="bg-black">
    <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660087722/capstone%20project/color_splash/black/splash-bottom-black_redet8.png" alt="">
  </div>



  <!-- Contact form -->






  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">BOOK ONLINE</h1>
        <p class="leading-relaxed mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nobis eveniet
          laborum repellat quas, ullam corporis qui laudantium consectetur nisi!</p>
        <p class="text-xl font-bold mt-4" id="call-btn"><i class="fa-solid fa-phone mr-2"></i>+1 123 456 789 0</p>

      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-xl font-bold title-font mb-5">Book Table</h2>
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Full Name</label>
          <input type="text" id="full-name" name="full-name"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="useremail" name="useremail"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button id="bookbtn" class="btn uppercase my-btn-1">Book Now</button>

      </div>
    </div>
  </section>















  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12">What Customers Say About Us</h2>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-y-10 sm:gap-y-12 lg:divide-x">
        <!-- quote - start -->
        <div class="flex flex-col items-center gap-4 md:gap-6 sm:px-4 lg:px-8">
          <div class="text-gray-600 text-center">“This is a section of some simple filler text, also known as
            placeholder text.”</div>

          <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
            <div class="w-12 md:w-14 h-12 md:h-14 bg-gray-100 rounded-full overflow-hidden shadow-lg">
              <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165589/capstone%20project/review/joseph-gonzalez-iFgRcqHznqg-unsplash_c81vb3.jpg"
                loading="lazy" alt="Photo by Radu Florin" class="w-full h-full object-cover object-center" />
            </div>

            <div>
              <div class="text-orange-400 text-sm md:text-base font-bold text-center sm:text-left">John McCulling</div>
              
            </div>
          </div>
        </div>
        <!-- quote - end -->

        <!-- quote - start -->
        <div class="flex flex-col items-center gap-4 md:gap-6 sm:px-4 lg:px-8">
          <div class="text-gray-600 text-center">“This is a section of some simple filler text, also known as
            placeholder text.”</div>

          <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
            <div class="w-12 md:w-14 h-12 md:h-14 bg-gray-100 rounded-full overflow-hidden shadow-lg">
              <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165538/capstone%20project/review/philip-martin-5aGUyCW_PJw-unsplash_ouwemt.jpg"
                loading="lazy" alt="Photo by christian ferrer" class="w-full h-full object-cover object-center" />
            </div>

            <div>
              <div class="text-orange-400 text-sm md:text-base font-bold text-center sm:text-left">Kate Berg</div>
              
            </div>
          </div>
        </div>
        <!-- quote - end -->

        <!-- quote - start -->
        <div class="flex flex-col items-center gap-4 md:gap-6 sm:px-4 lg:px-8">
          <div class="text-gray-600 text-center">“This is a section of some simple filler text, also known as
            placeholder text.”</div>

          <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
            <div class="w-12 md:w-14 h-12 md:h-14 bg-gray-100 rounded-full overflow-hidden shadow-lg">
              <img src="https://res.cloudinary.com/df3oeiwmb/image/upload/v1660165616/capstone%20project/review/jurica-koletic-7YVZYZeITc8-unsplash_dujxad.jpg"
                loading="lazy" alt="Photo by Ayo Ogunseinde" class="w-full h-full object-cover object-center" />
            </div>

            <div>
              <div class="text-orange-400 text-sm md:text-base font-bold text-center sm:text-left">Greg Jackson</div>
              
            </div>
          </div>
        </div>
        <!-- quote - end -->
      </div>
    </div>
  </div>








</body>