

<body>
    <!-- <div class="w-screen h-screen flex justify-center items-center
    bg-gradient-to-br from-purple-700 to-amber-700">
        <form class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" action="/register" method="POST" id="register-formm">
            <div class="p-1 mx-32 border-solid inline-block ">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_kvoazdkd.json" background="transparent"  speed="1"  style="width: 120px; height: 120px;" loop autoplay></lottie-player>
            </div>
            <div class="flex flex-col space-y-2">
                <label class="text-sm font-bold" for="email">name</label>
                <input class="w-96 px-3 py-2 rounded-md border border-slate-400" type="text" placeholder="Your Name"
                    name="name" id="name">
            </div>
            <div class="flex flex-col space-y-2">
                <label class="text-sm font-bold" for="email">Email</label>
                <input class="w-96 px-3 py-2 rounded-md border border-slate-400" type="email" placeholder="Your Email"
                    name="email" id="email">
            </div>
            <div class="flex flex-col space-y-2">
                <label class="text-sm font-bold" for="password">Password</label>
                <input class="w-96 px-3 py-2 rounded-md border border-slate-400" type="password"
                    placeholder="Your Password" name="password" id="password">
            </div>

            <button  class="w-full px-10 py-2 bg-blue-600 text-white rounded-md
            hover:bg-blue-500 hover:drop-shadow-md duration-300 ease-in" type="submit">
                Sign Up
            </button>
            <div id="g_id_onload" data-client_id="542283440521-2sgfetvher2nu6fullk22a4ish600hgs.apps.googleusercontent.com" data-callback="handleCredentialResponse" ></div>
            <p class="text-right"><a class="text-blue-600 text-sm font-light hover:underline"
                    href="https://www.kindacode.com">Forget Password?</a></p>
        </form>
    </div> -->














    <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center px-5 py-5">
        <div class="bg-gray-100 text-gray-500 rounded-3xl drop-shadow-2xl w-full overflow-hidden" style="max-width:1000px">
            <div class="md:flex w-full">
                <div class="hidden md:block w-1/2 bg-orange-300 py-10 px-10">
                    <!-- https://assets3.lottiefiles.com/packages/lf20_gjmecwii.json -->
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent"
                    speed="1" loop autoplay>
                    </lottie-player>
                    
                </div>
                <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    <div class="text-center mb-10">
                        <h1 class="font-bold text-3xl text-gray-900 mb-4">REGISTER</h1>
                        <p class="">Enter your information to register</p>
                    </div>
                    
                    
                    <form  action="/register" method="POST" id="register-form">
                    <div>
  
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="" class="text-xs font-semibold px-1">Name</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                                    <input type="text" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-orange-400" placeholder="Name" name="name" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="" class="text-xs font-semibold px-1">Email</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                                    <input type="email" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-orange-400" placeholder="Email" name="email" id="email">
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                <label for="" class="text-xs font-semibold px-1">Password</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                    <input type="password" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-orange-400" placeholder="*******" name="password" id="password">
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <button class="block w-full max-w-xs mx-auto bg-orange-400 hover:bg-orange-500 focus:bg-orange-500 text-white rounded-lg px-3 py-3 font-semibold" type="submit">REGISTER NOW</button>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div id="g_id_onload" data-client_id="542283440521-2sgfetvher2nu6fullk22a4ish600hgs.apps.googleusercontent.com" data-callback="handleCredentialResponse" ></div>
                
                
                </div>
            </div>
        </div>
    </div>
</body>